/* Estilos Generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body{
    background-color: #faedc3;
    width: 1200px;
    height: 100vh;

}

main{
    padding: 2rem;
    background-color: #ffffff;
}

header{
    margin-bottom: 1.5rem;
}


/* Estilos de index html*/
#inicio{
    background-color: #fea837;
    background-image: url("/Images/Milo.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#bg-inicio{
    width: 50%;
    min-width: 300px;
    border-radius: 10px;
    color: #ffffff;
    margin: auto;
    padding: 2rem;
    background-color: #af985f80;
}
#intro{
    font-style: italic;
    font-size: 1.2rem;
}

#cartaLoco{
   width: 200px;
    border: 4px;
    border-radius: 5px;
}

/* Estilos About me */

.listas{
    margin: 24px 0 24px 0;
    padding: 16px;
}

iframe{
    border: 2px #564162;
    border-radius: 10px;  
}

/* Estilos Contact */
address{
    margin: 16px;
}

fieldset{
    margin: 20px;
    padding: 16px;
}


