/* Estilos Generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body{
    background-color: #faedc3;
    width: 1200px;
    height: 100vh;

}

main{
    padding: 2rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    margin-bottom: 1.5rem;
}


/* Estilos de index html*/
header{
    background-color: #783403;
    color: #ffffff;
    height: 4.5rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin-left: 3rem;
}

a{
    list-style: none;
    color: #ffffff;
}

a:hover{
    background-color: #faedc387;
    border-radius: 5px;
}

.menu{
    list-style: none;
    margin-right: 3rem;
    display: flex;
    gap: 20px;
    padding: 1rem;
}



#inicio{
    background-color: #fea837;
    background-image: url("/Images/Milo.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#bg-inicio{
    width: 50%;
    min-width: 300px;
    border-radius: 10px;
    color: #ffffff;
    margin: auto;
    padding: 2rem;
    background-color: #af985f80;
}
#intro{
    font-style: italic;
    font-size: 1.2rem;
}

#cartaLoco{
   width: 200px;
    border: 4px;
    border-radius: 5px;
}

/* Estilos About me */

.listas{
    margin: 24px 0 24px 0;
    padding: 16px;
}

iframe{
    border: 2px #564162;
    border-radius: 10px;  
}

/* Estilos Contact */
address{
    margin: 16px;
}

fieldset{
    margin: 20px;
    padding: 16px;
}

ul{
    display: flex;
    justify-content: space-evenly;
}

button{
    border: none;
    width: 45%;
    padding: 0.7rem;
    color: #ffffff;
    background-color: #fea837;
    font-size: 1rem;
    border-radius: 5px;
}

/*.button{
    width: 10%;
}*/

button:hover{
    background-color: #783403;
    cursor: pointer;
}

input, textarea {
    padding: 0.3rem;
    margin-bottom: 0.7rem;
    display: block;
    font-size: 1rem;
    border: none;
    border: 3px;
    background-color: whitesmoke;
}

.one-line{
    display: flex;
    align-items: baseline;
}
/*FOOTER*/
footer{
    background-color: #783403;
    color: #ffffff;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
